<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background: linear-gradient(to right, #c9d6ff, #e2e2e2);
            font-family: 'Segoe UI', sans-serif;
        }

        label {
            font-size: 15px;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container" style="border: 2px black;">
        <div class="card shadow-lg rounded-4 border-2" style="margin: 90px auto; max-width: 550px;">
            <div class="card-body">
                <h2 style="color: rgb(64, 64, 189); font-weight: 700; text-align: center;">✏️ Edit Book</h2>
                <hr style="border: 1px solid black;">
                <form method="POST">
                    <div>
                        <label for="title">Title:</label>
                        <input type="text" name="title" required placeholder="Enter Book Title" value="{{book[1]}}"
                            class="form-control">
                    </div>
                    <div><br>
                        <label for="author">Author:</label>
                        <input type="text" name="author" required placeholder="Enter Book Author" value={{book[2]}}
                            class="form-control">
                    </div><br>
                    <div>
                        <label for="genre">Category:</label>
                        <input type="text" name="genre" placeholder="Enter Book Category" value={{book[3]}}
                            class="form-control" required>
                    </div><br>
                    <div>
                        <label for="isbn">ISBN:</label>
                        <input type="text" name="isbn" placeholder="Enter Book Isbn " value={{book[4]}}
                            class="form-control" required>
                    </div><br>
                    <div>
                        <label for="year">Edition Year:</label>
                        <input type="text" name="year" placeholder="Enter Book Edition Year" value={{book[5]}}
                            class="form-control" required>
                    </div><br>
                    <button type="submit" class="btn btn-success w-100">Update Book</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>